@forward "globals";
@forward "layout";
@use "../scss/util/" as u;

// Header CSS

.header {
  align-items: center;
  justify-content: space-between;
  padding: u.rem(8) u.rem(8) 0;

  &__logo {
    color: var(--inactive-color);

    padding-top: u.rem(4);
    margin-left: u.rem(20);
  }

  &__center {
    gap: u.rem(8);

    .home {
      display: grid;
      place-items: center;
      aspect-ratio: 1;
      border-radius: 100px;

      img {
        width: 23px;
      }
    }

    .search-bar {
      align-items: center;
      padding-inline: u.rem(15);
      height: u.rem(48);
      border-radius: u.rem(50);
      background-color: var(--btn-color);

      .search-icon {
        margin-top: u.rem(4);
        width: u.rem(25);
      }

      .search-input {
        width: u.rem(300);
        height: 35px;
        margin-left: 10px;
        font-size: 1rem;
        color: white;
      }

      .browse-icon {
        padding-left: 10px;
        border-left: 1px solid var(--inactive-color);
        width: u.rem(34);
      }

      &:hover {
        background-color: hsl(0, 0%, 19%);
        border: 1px solid hsl(0, 0%, 31%);
      }
    }
  }

  &__right {
    gap: 10px;

    .premium {
      background-color: var(--active-color);
      padding: u.rem(8) u.rem(20);
      border-radius: u.rem(20);
    }

    .install-app {
      img {
        width: 20px;
      }
    }
  }
}

// Main CSS

.main {
  // flex
  padding: u.rem(8);
  gap: u.rem(8);
  background-color: black;

  &__left {
    gap: u.rem(8);
  }
  &__right {
    background-color: var(--light-bg-color);
  }

  &__nav {
    padding: u.rem(20) u.rem(25);
    gap: u.rem(8);
    list-style: none;
    margin: 0;
    background-color: var(--light-bg-color);

    & > :nth-child(1) {
      margin-bottom: u.rem(15);
    }
    & > li img {
      width: u.rem(25);
    }

    .active {
      color: var(--active-color);
    }
  }

  &__library {
    overflow: hidden;
    background-color: var(--light-bg-color);

    .left-link {
      translate: u.rem(10);
    }

    .row-1 {
      justify-content: space-between;
      padding: u.rem(10) u.rem(15);
      gap: u.rem(8);

      .icon-btn:nth-child(1) {
        margin-right: u.rem(8);
      }
    }
    .row-2 {
      padding: u.rem(10) u.rem(15);
      gap: u.rem(8);
    }
  }

  &__lib-list {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--transparent-light) transparent;

    .lib-head {
      padding: 0 u.rem(15);
      justify-content: space-between;

      .sort-btn {
        border: 0;
        gap: u.rem(10);
        translate: 0;

        img {
          width: u.rem(16);
        }

        &:hover {
          scale: 1.05;
        }
      }
    }

    .lib-container {
      // overflow: hidden;
      margin-block: u.rem(7);
      padding: 0 u.rem(8);
    }
  }

  // Right part
}
