:root {
  --bg-color: hsl(0, 0%, 0%);
  --light-bg-color: hsl(0, 0%, 8%);
  --active-color: hsl(0, 0%, 100%);
  --inactive-color: hsl(0, 0%, 70%);

  --transparent-dark: hsla(0, 0%, 100%, 0.02);
  --transparent-default: hsla(0, 0%, 100%, 0.05);
  --transparent-light: hsla(0, 0%, 100%, 0.1);
}
